<div class="container-fluid" style="padding-left:0px">
  <div class="row">
    <!-- Main Sidebar -->
    <app-sidebar [data]="menus" ></app-sidebar>
    <!-- End Main Sidebar -->
    <main class="main-content col">
      <!-- Main Navbar -->
      <app-navbar></app-navbar>
      <!-- End Main Navbar -->
      <div class="main-content-container container-fluid flex-md-nowrap p-0 col-11 ml-auto mb-3">
        <!-- Page Header -->
        <!-- <app-page-header></app-page-header> -->
        <!-- End Page Header -->
        <!-- Container Pages -->
        <router-outlet></router-outlet>
        <!-- End Container Pages -->
      </div>
      <!-- Footer -->

      <app-footer></app-footer>
      <!-- End Footer -->
    </main>
  </div>
</div>
