.avatar-image img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    box-shadow: 0 0.125rem 0.5625rem rgba(0, 0, 0, .13);
}
.avatar-control{
    padding: 1rem;
}