<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">
                <!-- <ng-select  class="custom-ng-select" [items]="languages" [(ngModel)]="i18nService.language" (change)="setDefaultLang($event)" [clearable]="false"
                    bindLabel="name" bindValue="value">
                </ng-select> -->
            </a>
        </li>
    </ul>
    <!-- <span class="copyright ml-auto my-auto mr-2">
        Copyright © 2019
        <a href="https://vuongthanh.vn/" target="_blank">Vuong Thanh</a>
    </span> -->
</footer>
