<app-tool-bar (saveEvent)="saveEvent()"></app-tool-bar>
<div class="card card-small mb-3">
    <div class="card-body">
        <form [formGroup]="dataForm">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label translate>ENUM_ADD.CODE</label>
                        <input type="text" class="form-control form-control-sm" formControlName="code"
                            [ngClass]="{ 'is-invalid': isSubmited && fControls.code.errors }">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label translate>ENUM_ADD.NAME</label>
                        <input type="text" class="form-control form-control-sm" formControlName="name"
                            [ngClass]="{ 'is-invalid': isSubmited && fControls.name.errors }">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-small mb-3">
    <div class="card-header">
        <span translate>ENUM_ADD.LIST</span>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" width="50" scope="col">#</th>
                    <th scope="col" translate>ENUM_ADD.CODE</th>
                    <th scope="col" translate>ENUM_ADD.VALUE</th>
                    <!-- <th scope="col" translate>ENUM_ADD.IMAGE</th> -->
                    <th class="text-center" width="80" scope="col">
                        <button type="button" class="btn btn-success btn-sm" (click)="addEnumValue()">
                            <i class="material-icons">add</i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of enumValues; index as i">
                    <th class="text-center" scope="row">{{i + 1}}</th>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="item.code">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="item.name">
                    </td>
                    <!-- <td>
                        <app-avatar-chooser [(ngModel)]="item.image"></app-avatar-chooser>
                    </td> -->
                    <td class="text-center">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeEnumValue(i)">
                            <i class="material-icons">clear</i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="enumValues.length === 0">
                    <td class="text-center" colspan="4">
                        <span translate>COMMON.DATA_NOT_FOUND</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>