<!-- <full-calendar #calendar [defaultView]="calendarOptions.defaultView" [header]="calendarOptions.header"
  [plugins]="calendarOptions.plugins" [themeSystem]="calendarOptions.themeSystem"
  [buttonText]="calendarOptions.buttonText" [titleFormat]="calendarOptions.titleFormat"
  [navLinks]="calendarOptions.navLinks" [weekNumbersWithinDays]="calendarOptions.weekNumbersWithinDays"
  [businessHours]="calendarOptions.businessHours" [nowIndicator]="calendarOptions.nowIndicator"
  [selectMirror]="calendarOptions.selectMirror" [selectable]="calendarOptions.selectable"
  (dateClick)="handleDateClick($event)" [events]="events" (select)="handleDateSelect($event)"
  (eventClick)="handleEventClick($event)" (eventDrop)="handleEventDrop($event)"
  (eventResize)="handleEventResize($event)" (datesRender)="handleViewRender($event)"></full-calendar> -->

<full-calendar #calendar [defaultView]="calendarOptions.defaultView" [header]="calendarOptions.header"
  [plugins]="calendarOptions.plugins" [themeSystem]="calendarOptions.themeSystem"
  [titleFormat]="calendarOptions.titleFormat"
  [navLinks]="calendarOptions.navLinks" [weekNumbersWithinDays]="calendarOptions.weekNumbersWithinDays"
  [businessHours]="calendarOptions.businessHours" [nowIndicator]="calendarOptions.nowIndicator"
  [selectMirror]="calendarOptions.selectMirror" [selectable]="calendarOptions.selectable" [events]="events"></full-calendar>