<!-- <nav class="nav">
  <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
    data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar"
    (click)="isOpenSlideBar=true">
    <i class="material-icons">&#xE5D2;</i>
  </a>
</nav> -->
<div class="container-fluid icon-sidebar-nav">
  <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0"  >
    <!-- [ngClass]="{'open': isOpenSlideBar}" -->
    <div class="main-navbar">
      <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
          <div class="d-table m-auto">
            <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 70px; position: relative; top: -17px;"
              src="assets/admin/images/logo-scorpion.png" alt="VT Dashboard">
            <!-- <span class="d-none d-md-inline ml-1" translate>SLIDE_BAR.TITLE</span> -->
          </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none" (click)="isOpenSlideBar=false">
          <i class="material-icons">&#xE5C4;</i>
        </a>
      </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
      <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
      </div>
    </form>
    <div class="nav-wrapper sidebar-background">
      <ul class="nav flex-column">
        <ng-container *ngFor="let menu of menus">
          <!-- Not have child items -->
          <li class="nav-item"  *ngIf="menu.childs.length === 0 && menu.href && menu.href.length > 0" >
            <a (click)="isOpenSlideBar=false" class="nav-link" [routerLink]="[menu.href]" [routerLinkActive]="['active']" >
              <i class="material-icons" style="color:#34495e;">{{menu.icon || ''}}</i>
              <span translate>{{menu.titleDict}}</span>
            </a>
          </li>
          <!-- Have child items -->
          <li class="nav-item dropdown" *ngIf="menu.childs.length > 0" >
            <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="material-icons" style="color:#34495e;">{{menu.icon || ''}}</i>
              <span translate>{{menu.titleDict}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-small">
              <a (click)="isOpenSlideBar=false" *ngFor="let child of menu.childs" class="dropdown-item"
                [routerLinkActive]="['active']" [routerLink]="[child.href]" translate>{{child.titleDict}}</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </aside>
</div>

